*.exe

.idea
conf/config.yaml
conf/config.test.yaml
conf/config.demo.yaml
conf/config.dev.yaml
conf/config.prod.yaml
release

docker/bin/api-server

conf/*.key
docs/swagger.json
docs/swagger.yaml

docker/mysql/data/*
docker/nginx/logs/*
docker/redis/data/*

scripts/deploy-test.bat
scripts/deploy-*.bat
go.sum
main