*.exe

.idea
conf/config.yaml
conf/config.test.yaml
conf/config.demo.yaml
conf/config.dev.yaml
conf/config.prod.yaml
release

docker/bin/api-server
bin/api-server

conf/*.key
docs/swagger.json
docs/swagger.yaml

docker/data/mysql/db/*
docker/data/nginx/logs/*
docker/data/redis/db/*

scripts/deploy-test.bat
scripts/deploy-*.bat
go.sum
main